#divimg1>img {
    height: 5%;
    width: 5%;
    text-align: center;
    padding: 15px;
    position: relative;
}

#divimg1 {
    border: 3px solid #000000;
    border-radius: 2rem;
    position: sticky;
    justify-content: space-evenly;
    display: flex;
    height: 35%;
    width: 100%;

}

#send {
    padding: 5px;
    font-size: 1em;
    width: 10%;
    height: 3%;
    border: 3px solid #000000;
    transition: all 0.5 ease-in-out

}

#send:hover{
    transition: all 0.5 ease-in-out;
}